@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/forms";

@theme {
    --font-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html {
    scroll-behavior: smooth;
}